.row {
  margin: 0 !important;
}

.darkSection {
  background-color: var(--primary);
  padding: 3rem 0;
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  min-height: 6rem;
  margin: 0;
}

.darkSection > * {
  color: white;
  text-align: center;
}

.icons > a > i {
  color: white;
  text-decoration: none;
}

.profile {
  display: flex;
  flex-direction: column;
}

.profileIcon {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  transition: all 0.2s ease-in-out;
}

.profileIcon:hover {
  font-size: 1.7rem;
}

.greenSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  height: 15rem;
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.164);
  background: var(--accent);
  background: -webkit-linear-gradient(176deg, var(--accent) 0%, #1c2e29 50%, var(--primary) 100%);
  background: linear-gradient(176deg, var(--accent) 0%, var(--tertiary) 100%);
  color: white;
}

.greenSection > h1 {
  font-weight: bold;
}

.platinumSection {
  background-color: var(--platinum);
  margin-top: 0;
  text-align: center;
  padding: 2rem;
}

#infoSection {
  background-image: url("/public/img/mainBanner2.webp");
  background-position: left top;
}

#infoProyecto {
  padding: 1rem;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#iconList > div > div {
  justify-content: center;
  display: flex;
  padding: 2rem;
  align-items: center;
  gap: 0.5rem;
}

.greenSection2 {
  justify-content: center;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.164);
  background: var(--accent);
  background: -webkit-linear-gradient(176deg, var(--accent) 0%, #1c2e29 50%, var(--primary) 100%);
  background: linear-gradient(176deg, var(--accent) 0%, var(--tertiary) 100%);
  color: white;
}

.funcionalidad {
  background-color: var(--tertiary);
  border-radius: 1rem;
  color: white !important;
}

.funcionalidad > * > * {
  color: white !important;
}

.funcionalidad > * > img {
  border: 5px solid white !important;
  height: 12rem !important;
}
