#btn {
  background-color: var(--primary);
  font-weight: 200 !important;
  color: white;
}
#btn:hover {
  background-color: var(--secondary);
}

.categoryLink {
  font-size: large;
  margin-left: 2rem;
  text-decoration: none;
  color: var(--accent);
  margin-bottom: 1rem;
}

.categoryLink:hover {
  transition: all 0.5s ease;
  transform: scale(1.05);
}

.categoriesImg {
  object-fit: cover;
  height: 15rem;
  width: 15rem;
  border-radius: 3rem;
}
